{% extends 'base.html.twig' %}

{% block menu %}
  {% include 'menu.html.twig' %}
{% endblock %}

{% block body %}
  <ul class="nav nav-tabs" id="years" role="tablist">
    {% for year in years %}
      <li class="nav-item {% if year['year'] == "now"|date("Y") %}active{% endif %}">
        <a class="nav-link {% if year['year'] == "now"|date("Y") %}active{% endif %}"
          id="{{ year['year'] }}-tab"
          data-toggle="tab"
          href="#{{ year['year'] }}"
          role="tab"
          aria-controls="{{ year['year'] }}"
          aria-selected="{% if loop.first %}true{% else %}false{% endif %}"
        >
          {{ year['year'] }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="tab-content" id="myTabContent">
    {% set currentYear = "" %}
    {% for key, info in data %}
      {% if currentYear != info.year %}
        {% set currentYear = info.year %}
        {% if not loop.first %}
          </div>
        {% endif %}
        <div  class="tab-pane {% if loop.first %}active{% endif %}" id="{{ info.year }}" role="tabpanel" aria-labelledby="{{ info.year }}">
      {% endif %}
      <a class="month-display" href="{{ path('home', {'year' : info.year,'month' : info.month}) }}">
        <div class="well text-center col-md-3">
          <div style="padding: 10px 0" class="{% if info[2] > 0 %}bg-success{% else %}bg-danger{% endif %}">
            <h5>{{ info.month }}-{{ info.year }}</h5>
            <h3>{{ info.2|round(2, 'floor') }} €</h3>
            {% if matched[key] is defined and info[1]-matched[key][1]  == 0 %}
              <h6 class="glyphicon glyphicon-ok"></h6>
            {% elseif matched[key] is defined %}
              <h6>Open Transactions: {{ info[1]-matched[key][1] }}</h6>
            {% else %}
              <h6>Transactions: {{ info[1] }}</h6>
            {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
