{% block body %}
    <div id="containerGUI">
        <div id="listagem">
            <div id="container"></div>
        </div>
    </div>

    <input type="button" class="btn-info" id="toggleView" value="Match" />
    <table class="table table-hover table-sm table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Saldo</th>
                <th>Amount</th>
            </tr>
        </thead>
        {% for transaction in transactions %}
            <tr {% if transaction.categories %}class="hideTransaction"{% endif %}>
                <td>{{ transaction.createAt.date|date('Y-m-d') }}</td>
                {% if transaction.categories %}
                    <td>{{ transaction.categories.name|capitalize }}</td>
                {% else %}
                    <td>
                        {% if not transaction.categories %}
                            <a href="{{ path('match', {'id': transaction.id,'month': month,'year': year,}) }}">Match</a>
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {% if transaction.amount < 0 %}
                      {% if transaction.endSaldo < transaction.startSaldo %}
                        {{ transaction.endSaldo }}
                      {% else %}
                        {{ transaction.startSaldo }}
                      {% endif %}
                    {% else %}
                      {% if transaction.endSaldo > transaction.startSaldo %}
                        {{ transaction.endSaldo }}
                      {% else %}
                        {{ transaction.startSaldo }}
                      {% endif %}
                    {% endif %}
                </td>
                <td>{{ transaction.amount }}</td>
                <td>
                    <a href="{{ path('show', {'id': transaction.id,'month': month,'year': year,}) }}">Show</a>
                    <a href="{{ path('edit', {'id': transaction.id,'month': month,'year': year,}) }}">Edit</a>

                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
