<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        {% stylesheets '@bootstrap_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}

        {% stylesheets '@TransactionsBundle/Resources/public/css/menu.css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}

        {% stylesheets '@TransactionsBundle/Resources/public/css/main.css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% javascripts '@jquery' '@bootstrap_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts
          '@TransactionsBundle/Resources/public/js/highcharts.js'
          '@TransactionsBundle/Resources/public/js/helpers.js'
          '@TransactionsBundle/Resources/public/js/tableSorter.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
        <div class="d-flex h-100 flex-column">
            {% include 'menu.html.twig' %}
            <div class="row flex-fill">
                <div class="col-1 fin-menu">
                    {% include "side_menu.html.twig" %}
                </div>
                <div class="col-11">
                    <div class="container">
                    {% for flash_message in app.session.flashBag.get('notice') %}
                        <div class="alert alert-success">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    <br /><br />
                    {% block body %}{% endblock %}
                    {% block javascripts %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
