<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        {% stylesheets '@bootstrap_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}

        {% stylesheets '@TransactionsBundle/Resources/public/css/main.css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script type="text/javascript" src="https://unpkg.com/popper.js"></script>

        {% javascripts '@jquery' '@bootstrap_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts
          '@TransactionsBundle/Resources/public/js/helpers.js'
          '@TransactionsBundle/Resources/public/js/tableSorter.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

        <!-- jQuery Modal -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    </head>
    <body>
        <div class="d-flex h-100 flex-column">
            <div class="row flex-fill top-top"></div>
            <div class="row flex-fill">
                <div class="col-2 fin-menu">
                    {% include "side_menu.html.twig" %}
                </div>
                <div class="col-1">
                </div>
                <div class="col-8">
                    {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="alert alert-success">
                        {{ flash_message }}
                    </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger text-center">
                        {{ flash_message }}
                    </div>
                    {% endfor %}
                    <br />
                    {% block body %}{% endblock %}
                </div>
                <div class="col-1">
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
