<div id="top-menu">
  <div class="logo"></div>
  <div class="nav-menu" role="tablist">
    <a href="{{ path('dashboard') }}">Home</a>
    <a href="{{ path('categories') }}">Categories</a>
    <a href="{{ path('budget') }}">Budgets</a>
    <a href="{{ path('importer') }}">Import</a>
    <a href="{{ path('profile') }}">Profile</a>
    <a href="{{ path('logout') }}">Logout</a>
  </div>
</div>
