<div id="top-menu">
  <div class="logo"></div>
  <div class="nav-menu">
    <a href="{{ path('dashboard') }}">Home</a>
    {% if menu is defined and month is defined and year is defined %}
        <a href="{{ path('home', {'year' : year,'month' : month}) }}">
            Month
        </a>
    {% endif %}
    {% if menu is defined %}
        <!-- <a href="#monthgraph" data-toggle="tab">Expenses</a> -->
        <a href="#dailygraph" data-toggle="tab">Graphs</a>
    {% endif %}
    <!--a href="{{ path('prevision') }}">Prevision</a-->
    <a href="{{ path('categories') }}">Categories</a>
    <a href="{{ path('budget')}}">Budgets</a>
    <!--a href="{{ path('contact') }}">Contact</a-->
    <!--a href="{{ path('logout') }}">Logout</a-->
  </div>
</div>
