<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="font-weight-bold text-white nav-link" href="{{ path('dashboard') }}">Home</a>
    <a class="font-weight-bold text-white nav-link" href="{{ path('categories') }}">Categories</a>
    <a class="font-weight-bold text-white nav-link" href="{{ path('budget') }}">Budgets</a>
    <a class="font-weight-bold text-white nav-link" href="{{ path('importer') }}">Import</a>
    <a class="font-weight-bold text-white nav-link" href="{{ path('profile') }}">Profile</a>
</div>
