{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="short_description">{{ form_label(form.name) }}</label>
        {% include '::errors.html.twig' with {'errors': form.name.vars.errors} %}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        <label for="account_id">{{ form_label(form.recurring) }}</label>
        {% include '::errors.html.twig' with {'errors': form.recurring.vars.errors} %}
        {{ form_widget(form.recurring, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="text-right">
      {{ form_widget(form.save, { 'attr': {'class': 'btn btn-success'}}) }}
      <a type="button" class="btn btn-primary" href="{{ path('home', {
        'currentMonth': currentMonth,
        'currentYear': currentYear,
      }) }}">Back</a>
    </div>
  {{ form_end(form) }}
{% endblock %}
