{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="short_description">{{ form_label(form.name) }}</label>
        {% include '::errors.html.twig' with {'errors': form.name.vars.errors} %}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        <label for="account_id">{{ form_label(form.budgetLimit) }}</label>
        {% include '::errors.html.twig' with {'errors': form.budgetLimit.vars.errors} %}
        {{ form_widget(form.budgetLimit, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="text-right">
      {{ form_widget(form.save, { 'attr': {'class': 'btn btn-success'}}) }}
    </div>
  {{ form_end(form) }}
{% endblock %}
