<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <tr>
            <th class="text-left">Categorie</th>
            <th class="text-right">Annually</th>
            <th class="text-right">Limit</th>
            <th class="text-right">Current Ammount</th>
            <th class="text-right">Options</th>
        </tr>
        {% for budget in budgets %}
            {% for entity in budget %}
        <tr class="{% if entity.limit < entity.amount %}table-danger{% else %}table-success{% endif %}">
            <td>{{ entity.name }}</td>
            <td class="text-right">{{ entity.annually ? 'Yes' : 'No' }}</td>
            <td class="text-right">{{ entity.limit }} €</td>
            <td class="text-right">{{ entity.amount }}  €</td>
            <td class="text-right">
                <p><a href="#{{ entity.id }}" rel="modal:open">Delete</a></p>
            </td>
        </tr>
            {% endfor %}
        {% endfor %}
    </table>
</div>

<!-- Modal HTML embedded directly into document -->
{% for budget in budgets %}
    {% for entity in budget %}
    <div id="{{ entity.id }}" class="modal">
        <p>Delete this budget.</p>
        <a href="{{ path('budgets_delete', {"id": entity.id}) }}">Delete</a>
    </div>
    {% endfor %}
{% endfor %}
