<div class="table-responsive">
    {% for budget in budgets %}
        {% for entity in budget %}
        <div style="text-align: center; padding: 0 4%; float: left">
            <h5>{{ entity.name }} {{ entity.annually ? "- Anual" : "" }}</h5 >
            <div class="
                    c100
                    p{{ ((entity.amount/entity.limit)*100)|round }}
                    center
                    {% if (((entity.amount/entity.limit)*100)|round)>50 %}
                        orange
                    {% endif %}
                    {% if (((entity.amount/entity.limit)*100)|round)<50 %}
                        green
                    {% endif %}
                ">
                <span>{{ entity.amount }} €</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <p><a href="#{{ entity.id }}" rel="modal:open">Delete</a></p>
            <p>&nbsp</p>
        </div>
        {% endfor %}
    {% endfor %}
</div>

<!-- Modal HTML embedded directly into document -->
{% for budget in budgets %}
    {% for entity in budget %}
    <div id="{{ entity.id }}" class="modal">
        <p>Delete this budget.</p>
        <a href="{{ path('budgets_delete', {"id": entity.id}) }}">Delete</a>
    </div>
    {% endfor %}
{% endfor %}
