{% extends 'base.html.twig' %}

{% block menu %}
{% include 'menu.html.twig' %}
{% endblock %}

{% block body %}
    <div class="text-right">
        <a class="btn btn-success" href="{{ path('categories_new') }}">New</a>
    </div>
    <div class="table-responsive">
    <table class="table table-condensed table-hover">
        <tr>
            <th class="text-left">Name</th>
            <th class="text-left">Parent</th>
            <th class="text-right">Ignore</th>
            <th class="text-right">Recurring</th>
            <th class="text-right">Options</th>
        </tr>
        {% for type in categories %}
            {% for subType in type %}
                <tr>
                    <td class="text-left">
                        {% if loop.first %}
                            {{ subType.name }}
                        {% else %}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ subType.name }}
                        {% endif %}
                    </td>
                    <td class="text-left">{{ subType.parent ? subType.parent.name : "" }}</td>
                    <th class="text-right">-</th>
                    <td class="text-right">{{ subType.recurring }}</td>
                    <td class="text-right">
                        <a href="{{ path('categories_show', {"id": subType.id}) }}">Show</a>
                        {% if not loop.first %}
                            <a href="{{ path('categories_delete', {"id": subType.id}) }}">Delete</a>
                        {% endif %}
                        <a href="{{ path('categories_edit', {"id": subType.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    </div>
{% endblock %}
