{% include 'AccountBundle:tools:monthMenu.html.twig' %}
<table class="table table-condensed table-hover table-responsive">
  <tr>
    <th class="text-left">Transaction Date</th>
    <th class="text-right">Saldo</th>
    <th class="text-right">Ammount</th>
    <th class="text-right">Short Description</th>
    <th class="text-right">Options</th>
  </tr>
  {% for transaction in transactions %}
    <tr {% if transaction.amount > 0 %} class='success' {% endif %}>
      <td>{{ transaction.createAt|date("d/m/Y") }}</td>
      <td class="text-right">{{ transaction.endsaldo }} €</td>
      <td class="text-right">{{ transaction.amount }} €</td>
      <td class="text-right">
          {% if transaction.transactionType %}
            {{ transaction.transactionType.name|capitalize }}
          {% else %}
            <a href="{{ path('saveShortDescription', {
                'id': transaction.id,
                'currentMonth': currentMonth,
                'currentYear': currentYear,
              }) }}">Pick-one</a>
              &nbsp;|&nbsp;
              <a href="{{ path('match', {
                'id': transaction.id,
                'currentMonth': currentMonth,
                'currentYear': currentYear,
              }) }}">Match</a>
          {% endif %}
      </td>
      <td class="text-right">
        <a href="{{ path('show', {
            'id': transaction.id,
            'currentMonth': currentMonth,
            'currentYear': currentYear,
        }) }}">Show</a>
        <a href="{{ path('edit', {
          'id': transaction.id,
          'currentMonth': currentMonth,
          'currentYear': currentYear,
        }) }}">Edit</a>
      <!--li>
        <a href="{{ path('match', {
          'id': transaction.id,
          'currentMonth': currentMonth,
          'currentYear': currentYear,
        }) }}">Match</a>
      </li-->
      </td>
    </tr>
  {% endfor %}
</table>
{% include 'AccountBundle:tools:monthMenu.html.twig' %}
