{% extends 'base.html.twig' %}

{% block body %}
  <div id="{{ transaction.id }}">
    <h1>Description</h1>
    <div class="row">
      <div class="col-md-2">
        <h5>Created at:</h5>
        <h5>Transaction:</h5>
        <br />
        <h5>Starting Amount:</h5>
        <h5>Transaction Amount:</h5>
        <h5>End Amount:</h5>
        <br />
        <h5>Full Description:</h5>
        <br />
        <br />
        <br />
        <h4>Short Description:</h5>
        {% if transaction.Categories %}
          <h5>{{ transaction.Categories.name }}</h5>
        {% else %}
          <h5>{{ transaction.shortDescription }}</h5>
        {% endif %}
      </div>
      <div class="col-md-6">
        <h5>{{ transaction.createAt|date("d/m/Y") }}</h5>
        <h5>{{ transaction.transactionHash }}</h5>
        <br />
        <h5>{{ transaction.startsaldo }} €</h5>
        <h5>{{ transaction.amount }} €</h5>
        <h5>{{ transaction.endsaldo }} €</h5>
        <br />
        <h5>{{ transaction.description }}</h5>
      </div>
    </div>
    <br />
    <br />
    <span>
      Recurring Payment:
      {% if transaction.Categories and transaction.Categories.recurring %}
        <span class="glyphicon glyphicon-ok"></span>
      {% else %}
        <span class="glyphicon glyphicon-remove"></span>
      {% endif %}
    </span>
  </div>
  <div class="text-right">
    <a type="button" class="btn btn-primary" href="{{ path('home', {
      'currentMonth': currentMonth,
      'currentYear': currentYear,
    }) }}">Back</a>
  </div,
{% endblock %}
