<div id="{{ transaction.id }}">
    <h3 class="text-center">Description</h3>
    <div class="row">
        <div class="col-md-4">
            <p>Created at:</p>
            <p>Transaction:</p>
            <p>Starting Amount:</p>
            <p>Transaction Amount:</p>
            <p>End Amount:</p>
            <p>Full Description:</p>
        </div>
        <div class="col-md-6">
            <p>{{ transaction.createAt|date("d/m/Y") }}</p>
            <p>{{ transaction.transactionHash }}</p>
            <p>{{ transaction.startsaldo }} </p>
            <p>{{ transaction.amount }} </p>
            <p>{{ transaction.endsaldo }} </p>
            <p>{{ transaction.description }}</p>
        </div>
    </div>
    <br />
    <br />
    <span>
        Recurring Payment:
        {% if transaction.categories and transaction.categories.recurring %}
        <i class="fas fa-check"></i>
        {% else %}
        <i class="fas fa-times"></i>
        {% endif %}
    </span>
</div>
</div>
